# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# Node / Frontend dependencies
node_modules/
dist/
dist-ssr/
*.local

# Python / Backend dependencies
__pycache__/
*.py[cod]
*$py.class
venv/
.venv/
env/
.env/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST


# Environments and Secrets
.env
.env.local
.env.*.local
*.env
!/Backend/.env.example
!/Frontend/.env.example

# IDEs and Editors
.vscode/
!.vscode/extensions.json
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.swp
.DS_Store
Thumbs.db
